{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SIMPLE-BOARD - Login</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
   <link href="{% static '/js/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{% static '/css/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="{% static '/css/sb-admin-2.min.css' %}" rel="stylesheet">

 <script type="text/javascript">
        $(document).ready(function () {
            $('#sID').on('keypress', function (event) {
                if (event.which == '13') {
                    $('#sPW').select();
                    return false;
                }
            });

            $('#btnSubmit').on('click', function (e) {

                if ($.trim($('#sID').val()) == "") {
                    alert('아이디를 입력하세요!');
                    return false;
                }

                if ($.trim($('#sPW').val()) == "") {
                    alert('PASSWORD  입력하세요!');
                    return false;
                }

                var param = {'sID' : $.trim($('#sID').val()) , 'sPW' : $.trim($('#sPW').val()) };

                $.ajax({
                    type: 'post',
                    url:'{% url 'LoginClick' %}',
                    contentType:"application/json; charset=utf-8",
                    dataType:"json",
                    header:{
                        'X-CSRFTOKEN' : '{{ csrf_token }}'
                    },
                    timeout:0,
                    async:true,
                    data: JSON.stringify(param),
                    success: function (json) {
                        console.log("data pass success", json);
                        console.log("data pass success", json.msg);
                        if(json.msg=='Success'){

                            location.href = "{% url 'BoardList:List' %}";

                            {#location.href = "http://127.0.0.1:8131/List/";#}

                        }else{
                            alert('ID,PW가 일치하지않습니다.');
                        }

                       // alert('Success:' + json);

                    },
                    error: function (xhr, errmsg, err) {
                        console.log('Error');
                        //console.log(xhr.status + ": " + xhr.responseText);
                    }

                });
                return false;
            });
            $('#sID').select();
        });

    </script>

</head>

<body class="bg-gradient-primary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome dJango!</h1>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                id="sID" aria-describedby="emailHelp" value="k12345"
                                                placeholder="Enter Your ID">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="sPW" placeholder="Enter Password" value="123">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember Me</label>
                                            </div>
                                        </div>
                                        <input type="submit" id="btnSubmit" class="btn btn-primary btn-user btn-block" value="Login" >
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                       <a class="small" href="{% url 'MemJoin:select' %}">Create an Account1</a>
{#                                        <a class="small" href="./MemJoin/">Create an Account1</a>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'css/vendor/jquery/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static '/js/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static  '/js/sb-admin-2.min.js' %}"></script>

</body>

</html>